*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}

.navbar{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background: none;
}

.nav{
	display: flex;
	justify-content:space-between;
	padding: 20px 30vw;
}

.logo{
	height: 30px;
}

.nav-items{
	display: flex;
	justify-content:space-between;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.nav-item-img{
	margin-left: 5vw;
}

.servise-list{
	position: absolute;
	list-style: none;
	margin-top: 16px;
}

.service-item{
	display:none;
	margin-top: 10px;
	line-height: 30px;
}

.service-item a{
	color: #000;
	text-decoration: none;
}

.servise-list:hover li,.servise-list:hover .service-first-item{
	display:block;
	color: 	#ffd24d;
	transition: 0.3s;
	cursor: pointer;
}


.servise-list:hover .others-items{
	position: relative;
	left: -30px;
	width: 8vw;
	margin-top: 15px;
	padding: 10px 30px;
	background: #fff;
}

.service-item:hover a{
	color: 	#ffd24d;
	transition: 0.3s;
}

.contact-us{
	border: 2px solid #ffd24d;
	border-radius: 4px;
	padding: 15px 20px;
	font-weight: 900;
	text-transform: uppercase;
	background: none;
	color: #fff;
	cursor: pointer;
}

.contact-us:hover{
	color: #ffd24d;
	transition: 0.3s;
}

.about-us{
	border: none;
	margin-left: 0px;
	padding: 15px 20px;
	font-weight: 900;
	text-transform: uppercase;
	background: none;
	color: #fff;
	cursor: pointer;
}

.about-us:hover{
	color: #ffd24d;
	transition: 0.3s;
}